<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_habi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_habi_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.host.MainHostActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="MyDb2.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="7" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.myapplication.utils" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

        <activity android:name=".ui.addEdithabit.AddEditHabitoCategoriaActivity"
            android:label="@string/habit_categoria"/>
        <activity android:name=".ui.dialog.DialogAddHabitItemActivity"
            android:theme="@style/Dialog.NoTitle"
            android:excludeFromRecents="true"/>

        <activity android:name=".ui.select_image.SelectImageActivity"/>

        <activity android:name=".ui.habitCategoriDetali.HabitCategoriaDetailActivity"
            android:label="@string/habit_categoria_detalhe"
            />
        <activity android:name=".ui.entidadeHabitoAdd.AddEditHabitoEntidadeActivity"/>
        <activity android:name=".ui.habitEntyDetali.HabitEntyDetailActivity"/>
        <activity android:name=".ui.graficos.GraficActivity"/>
        <activity android:name=".ui.about.AboutActivity"/>


    </application>

</manifest>